h1 {
    color: #122947;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h2 {
    color: #122947;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 35px */
}
p {
    color: #122947;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.p {
    
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}


footer {
    color: #959595;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a{
    color: #122947;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.a1 {
    display: block; 
    text-align:center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
}

.a2 {
    display: block; 
    text-align:center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 18.85px */
}

.a3 {
    display: block; 
    text-align:center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
}
 
.a4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #122947;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
}

.img1{
    width: 200;
}

.div2 {
    text-align: center;
}
/*.container {
    width: 600px;
    height: 300px;
    background-image: url(C:\Users\sofya\Downloads\_11zon(6).jpeg);
    background-size: cover;
}