:root{
    font-size: 62.5%;
}
body {
    color: #122947;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    --color-footer:#959595;
}

h1 {
    text-align: center;
    font-size: 4,2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h2 {
    text-align: center;
    font-size: 2,8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; 
}
p {
    font-family: 'M PLUS 1p', sans-serif;

}
.p {
    
    text-align: center;
    font-size: 1,6rem;
    font-style: normal;
    line-height: 140%; 
}

.p1{
    color: var(--color-footer);
    text-align: center;
    font-size: 1,3rem;
    font-style: normal;
    line-height: 145%;
}

footer {
    color: var(--color-footer);
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1,2rem;
    font-style: normal;
    line-height: normal;
}

a{
    font-family: 'M PLUS 1p', sans-serif;
    text-decoration: none;

}

.a1 {
    display: block;
    text-align:center;
    font-size: 1,4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 

    /*border-radius: 0,2px;
    border: 0,1px;
    border-style:  solid;
    border-color:#B3BAC1;
    flex-shrink: 0;
    width: 132px;
    height: 40px;
    padding-left: 2,8rem;
    padding-top: 1,3rem;
    padding-bottom: 1,5rem;
    padding-right: 2,8rem;*/
}

.a2 {
    display: block; 
    text-align:center;
    font-size: 1,3rem;
    font-style: normal;
    line-height: 145%; 
}

.a3 {
    display: block; 
    text-align:center;
    font-size: 1,2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
 
.a4 {
    font-size: 1,4rem;
    font-style: normal;
    line-height: normal;
}

h3 {
    text-align:center;
    font-size: 1,6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; 
}

.img1{
    width: 200;
}

.div2 {
    text-align: center;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}
.section1{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

