body {
    color: #122947;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    --color-footer:#959595;
}

h1 {
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h2 {
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 35px */
}
p {
    font-family: 'M PLUS 1p', sans-serif;

}
.p {
    
    text-align: center;
    font-size: 16px;
    font-style: normal;
    line-height: 140%; /* 22.4px */
}


footer {
    color: var(--color-footer);
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}

a{
    font-family: 'M PLUS 1p', sans-serif;

}

.a1 {
    display: block; 
    text-align:center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
}

.a2 {
    display: block; 
    text-align:center;
    font-size: 13px;
    font-style: normal;
    line-height: 145%; /* 18.85px */
}

.a3 {
    display: block; 
    text-align:center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
}
 
.a4 {
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

h3 {
    text-align:center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
}

.img1{
    width: 200;
}

.div2 {
    text-align: center;
}

/*img{

}*/